.registered {
	width: 485px;
	height: 406.3px;
	padding-top: 178px;
	animation: registered .5s linear;
	animation-fill-mode: forwards; 
	opacity: 0;

	&__info {
		margin-left: 44px;
		
	}

	&__title {
		font-weight: 500;
		font-size: 22px;
		letter-spacing: -0.46px;
		line-height: 118%;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 114%;
		margin-top: 11px;
	}

	&__footer {
		margin-top: 152px;
	}
}

.btn-error {
	animation: .4s ease-in-out 0s normal none running trambling-animation, btn-error .7s;
}

